
.c-survey-slider {
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.c-survey-slider input {
    background-color: #fafafa;
}

.c-survey-slider__values {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: -14px;
}

.c-survey-slider__numbers {
    color: gray;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 0;
    margin: 0;
}

.c-survey-slider__numbers--bolder {
    font-weight: bolder;
    margin-top: -10px;
    color: #007ac9;
}

.c-survey-slider__numbers--ten {
    transform: translateX(-40%);
}

.c-survey-slider__label {
    width: 100%;
    position: relative;
}

input[type=range]:focus {
    outline: none;
}
input[type='range']::-moz-focus-outer {
    border: 0;
}
/*

input[type=range] {
    -webkit-appearance: none;
    margin: 5% 0;
    width: 100%;
    position: relative;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]:focus {
    outline: none;
}
input[type='range']::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    transition: 0.2s;
    background: darkgray;
    border-radius: 1.3px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    transition: 0.2s;
    background: darkgray;
    border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #007ac9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007ac9;
    cursor: pointer;
    -webkit-appearance: none;
    transform: translateY(-50%);
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #007ac9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007ac9;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    border: 1px solid #007ac9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007ac9;
    cursor: pointer;
    transform: translateY(-50%);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: darkgray;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    transition: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
    border: 1px solid #007ac9;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #007ac9;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
*/

$track-w: 100%;
$track-h: 2px;
$thumb-d: 24px;
$track-c: #b4b4b4;
$filll-c: #007ac9;

@mixin track($fill: 0) {
    box-sizing: border-box;
    border: none;
    width: $track-w; height: $track-h;
    background: $track-c;

    @if $fill == 1 {
        .chrome-slider & {
            background: linear-gradient($filll-c, $filll-c)
            0/var(--sx) 100% no-repeat $track-c;
        }
    }
}

@mixin fill() {
    height: $track-h;
    background: $filll-c
}
@mixin thumb() {
    box-sizing: border-box;
    border: none;
    width: $thumb-d; height: $thumb-d;
    border-radius: 50%;
    background: #007ac9;
}

[type='range'] {
    &, &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    --min: 1;
    --max: 10;
    --val: 0;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
    margin: 5% 0;
    position: relative;
    padding: 0;
    width: $track-w; height: $thumb-d;
    background: transparent;
    font: 1em/1 arial, sans-serif;

    &::-webkit-slider-runnable-track {
        @include track(1)
    }
    &::-moz-range-track { @include track }
    &::-ms-track { @include track }

    &::-moz-range-progress { @include fill }
    &::-ms-fill-lower { @include fill }

    &::-webkit-slider-thumb {
        margin-top: .5*($track-h - $thumb-d);
        @include thumb
    }
    &::-moz-range-thumb { @include thumb }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb
    }

    &::-ms-tooltip { display: none }
}
